@import "_globals.css";

footer {
    height: 300px; /* TEMP */
    margin-top: calc(var(--gl-spacer) * 3);
    background-color: var(--color-fg);
    border: var(--gl-border);
    padding: var(--gl-spacer);

    display: flex;
    flex-direction: column;
    gap: var(--gl-spacer);
    justify-content: flex-end;
    vertical-align: middle;
}

.footer-bottom {
    padding-top: var(--gl-spacer);
    border-top: var(--gl-border);
    font-size: 1.2rem;
    color: var(--color-text-subtle);

    display: flex;
    justify-content: space-between;
}

.toggle {
    padding: calc(var(--gl-spacer) / 3);
    border: var(--gl-border);
    border-radius: var(--gl-border-radius);
    background-color: var(--color-bg);
}