/* 
    Proyecto:   Pre-entrega 3 
                Matías Baldanza - matiasbaldanza@gmail.com
                Twitter: @matiasbaldanza
    Curso:      Javascript
    Comisión:   #34150 - CoderHouse
    Profesor:   Gonzalo Ledesma

    Repo:       https://github.com/matiasbaldanza/coderhouse-js-34150-matiasbaldanza-preentrega-3
    Sitio:      https://matiasbaldanza.github.io/coderhouse-js-34150-matiasbaldanza-preentrega-3/
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* -------------------------------------------- COLORS  */
.dark-theme {
    --color-bg: #0D1A26;
    --color-fg: #0e1d2a/* #090D13 */;
    --color-border: #62646A;
    
    --color-text-title: #B3CDE6;
    --color-text-content: #95979D;
    --color-text-subtle: #B3CDE6;
}

.light-theme {
    --color-bg: #F5F5F5;
    --color-fg: #FAFAFA;
    --color-border: #DADBDD;

    --color-text-title: #222325;
    --color-text-content: #62646A;
    --color-text-subtle: #95979d;
}

:root {
/* -------------------------------------------- FONTS  */
    font-size: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;

/* -------------------------------------------- BOXES  */
    --gl-border-radius: 4px;
    --gl-border: 1px solid var(--color-border);
    --gl-spacer: 20px;
    --gl-spacer-half: calc(var(--gl-spacer) / 2);
    --gl-spacer-double: calc(var(--gl-spacer) * 2);
}

/* ------------------------------------------- RESETS  */
* {
    box-sizing: border-box;
}

body {
    transition: 150ms;
}

/* --------------------------------------- TYPOGRAPHY  */ 
h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-title);
    font-weight: 500;
    margin: 0;
}

h1 { font-size: 2.8rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; font-weight: 300 }

p {
    color: var(--color-text-content);
    margin-top: 0;
    margin-bottom: var(--gl-spacer-half);
    font-size: 1.4rem;
}

.logo {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-text-title);
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background-color: var(--color-bg);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    overflow: scroll-y;
}

main {
    width: calc(100% - var(--gl--spacer-double));
    max-width: 780px;
    padding: var(--gl-spacer);
    margin: 0 auto;
    flex: 1;            /* Mantiene el footer abajo, si no hay suficiente contenido */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gl-spacer);
}

section, article {
    min-height: 100px; /* TEMP */
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gl-spacer);
}

header {
    background-color: var(--color-fg);

}

article, header { 
    width: 100%;
    border: var(--gl-border);
    border-radius: var(--gl-border-radius);
    padding: var(--gl-spacer-half) var(--gl-spacer);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gl-spacer);
}

article {
    background-color: var(--color-fg);
}

article.announcement {
    background-color: inherit;
}

footer {
    margin-top: calc(var(--gl-spacer) * 3);
    background-color: var(--color-fg);
    border: var(--gl-border);
    padding: var(--gl-spacer);

    display: flex;
    flex-direction: column;
    gap: var(--gl-spacer);
    justify-content: flex-end;
    vertical-align: middle;
}

.footer-bottom {
    padding-top: var(--gl-spacer);
    border-top: var(--gl-border);
    font-size: 1.2rem;
    color: var(--color-text-subtle);

    display: flex;
    justify-content: space-between;
}

.toggle {
    padding: calc(var(--gl-spacer) / 3);
    border: var(--gl-border);
    border-radius: var(--gl-border-radius);
    background-color: var(--color-bg);
}

select {
    height: 3rem;
}

.summary-text {
    font-weight: 300;
    font-size: 1.6rem;
}
